<!DOCTYPE html>
<html>

<body>
    <div style="background: #f2f2f2; border:1px solid #ccc; padding: 20px; margin: 10px; text-align: center;">
        Burasi Anasayfa
        <br>
        <a href="/todo">List Todo's</a>
    </div>
</body>

</html>